body, html{
	font-family: "Playfair Display", serif;
}
.header{
  	background: #2146FF;
  	font-size: 25px;
  	color: white;
  	text-align: center;
}
.div1{
	display: inline-block;
}
.divblock{
	margin-left: 15%;
	width: 15%;
	border: 3px solid black;
	border-width: 1px;
}
.div2{
	height: 25px;
	text-align: center;
	background: #2146FF;
	color: white;
	border: 3px solid black;
	border-width: 0 0 1px 0;
}
.div3{
	padding: 25px;
	text-align: center;
}
img{
	width: 60px;
}
