body, html{
	font-family: "Playfair Display", serif;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
	text-decoration: none;
}
.header{
  	background: #2146FF;
  	font-size: 25px;
  	color: white;
  	text-align: center;
}
.div1{
	display: inline-block;
}
.divblock{
	margin-left: 15%;
	width: 15%;
	display: inline-block;
}
.div2{
	height: 25px;
	text-align: center;
	background: #2146FF;
	color: white;
}
.div3{
	padding: 25px;
	text-align: center;
	border: 3px solid yellow;
	border-width: 0 3px 3px 3px;
}
img{
	width: 60px;
}
