body, html{
	font-family: "Playfair Display", serif;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a{
	text-decoration: none;
}
.header{
  	background: #2146FF;
  	font-size: 25px;
  	color: white;
  	text-align: center;
}
.tp{
	display: inline-block;
}
.cntbody{
	position: relative;
	width: 80%;
	height: 100%;
	margin: auto;
}
.container{
	position: absolute;
	margin: auto;
	width: 340px;
	height: 170px;
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
}
.ctopo{
	position: relative;	
	background: blue;
	color: white;
	text-align: center;
	border-radius: 10px 10px 0 0;
	height: 26px;
	overflow: hidden;
	border: 1px solid black;
	border-width: 0 0 1px 0;
}
.ctext{
	position: relative;
	background: lightgray;
	background-size: cover;
	border-radius: 0 0 10px 10px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 100%;
}
#container{
	left: 0;
	top:  5%;
	margin-left: 25%;
	transform: translateX(-50%)
}
#container2{
	right: 0;
	top: 5%;
	margin-right: 25%;
	transform: translateX(+50%)
}
#intro{
	width: 100%;
	height: 200px;
}
#inbox{
	margin: auto;
	width: 85%;
	height: 100%;
}
#intxt{
	text-align: justify;
	color: black;
}
h1{
	text-align: center;
}
img{
	width: 60px;
}
