body, html{
	font-family: "Playfair Display", serif;
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
a, a:visited, a:hover, a:active{
	text-decoration: none;
	color: black;
}
.header{
  	background: #2146FF;
  	font-size: 25px;
  	color: white;
  	text-align: center;
}
.tp{
	display: inline-block;
}
.cntbody{
	position: relative;
	width: 80%;
	height: 100%;
	margin: auto;
}
.container{
	position: absolute;
	margin: auto;
	width: 420px;
	height: 170px;
	overflow: hidden;
}
.ctopo{
	position: relative;	
	background: blue;
	color: white;
	text-align: center;
	border-radius: 10px 10px 0 0;
	height: 26px;
	overflow: hidden;
	border: 1px solid black;
	border-width: 0 0 1px 0;
}
.ctext{
	position: relative;
	background: lightgray;
	background-size: cover;
	border-radius: 0 0 10px 10px;
	text-align: center;
	overflow: hidden;
	word-wrap: break-word;
	height: 100%;
}
.midctnr{
	left: 50%;
	transform: translateX(-50%);
	width: 550px;
}
.leftctnr{
	left: 0;
	margin-left: 25%;
	transform: translateX(-50%);
}
.rightctnr{
	right: 0;
	margin-right: 25%;
	transform: translateX(+50%)
}
.cntblock{
	position: relative;
	height: 230px;
}
#intro{
	width: 100%;
	height: 200px;
}
#inbox{
	margin: auto;
	width: 85%;
	height: 100%;
}
#intext{
	text-align: justify;
}
#btitle{
	transform: translateY(-10px);
	text-align: center;
	margin: auto;
	width: 20%;
	border-radius: 15px;
}
h1{
	text-align: center;
}
img{
	width: 60px;
}
